<div class="border-form-div">
<h2>Sign up</h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <%= f.input :email, :autofocus => true %>

  <%= f.input :username %>

  <%= f.input :password %>
  <%= f.input :password_confirmation %>

  <%= f.submit "Sign up", :class=>'btn btn-primary' %>
<% end %>

<%= render "devise/shared/links" %>
</div>
