<!-- Probably move the stylesheet to you layout. Also make sure you include the javascript. -->
<%= stylesheet_link_tag "event_calendar" %>

<h1>Event Calendar</h1>

<div class="panel panel-default">
<h3>Nearest 5 Events</h3>
<% if @nearest_events.count == 0 %>
	<p>
		<h4>No Events</h4>
	</p>
<% else %>
<% @nearest_events.each do |ev| %>
	<p>
		<h4><%= ev.name %>, <small>start: <%= ev.start_at %></small></h4>
		<%= link_to 'Show more', ev, { :class=>"btn btn-success btn-xs"} %>
	</p>
<% end %>
<% end %>
</div>

<div class="calendar-btn">
<% if can? :create,Event %>
	<%= link_to 'Create New Event', new_event_path, { :class=>"btn btn-primary"} %>
<% end %>
<%= link_to 'Show List of All Events', events_path, { :class=>"btn btn-success"} %>
</div>

<%= raw(event_calendar) %>

