<%= simple_form_for(@article) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :title %>
    <div class="wysiwyg">
    <%= f.input :body, as: :bootsy, input_html: { class: 'form-control'} %>
    </div>
    <%= f.association :category, :default=>1 %>
    <% if can?(:article_set_published, Article) %>
      <%= f.check_box :published %> <%= f.label :published %>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit,:class=>'btn btn-primary' %>
  </div>
<% end %>
