<div class="panel panel-default">
<h2>
  <small>Name: </small>
  <%= @event.name %>
</h2>

<p>
	<strong>Description: </strong><br />
	<%= @event.description %>
</p>

<p>
  <strong>Start at: </strong><br />
  <%= @event.start_at %>
</p>

<p>
  <strong>End at: </strong><br />
  <%= @event.end_at %>
</p>
</div>

<div class="btn-group">
  <%= link_to 'Edit', edit_event_path(@event), { :class=>"btn btn-success"} %>
  <%= link_to 'Back', events_path, { :class=>"btn btn-default"} %>
</div>

<%= link_to 'Show Calendar', calendar_path, { :class=>"btn btn-primary"} %>
