<div class="category">
<p>
  <h1><%= @category.name %></h1>
  
</p>

<p>
  <strong>Parent category:</strong>
  <%= @categories[@categories.index{ |cat| cat.id == @category.parent_id }].name unless @category.parent_id.nil? %>
</p>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>

<% @category.articles.each do |article| %>
	<div class="panel panel-default">
		<h2><%= article.title %></h2>
		<p><%= article.body %></p>
	</div>
<% end %>

</div>
